header#new{
  display: flex;
  width: 100%;
  max-width: 680px;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px auto 10px;
}

header#new a{
  background: #272727;
  padding: 8px 18px 8px;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}

form#new-form{
  background: #FFF;
  width: 100%;
  max-width: 680px;
  margin: 0px auto 0px;
  padding: 30px;
  border: 1px solid #DDD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

form#new-form{
  margin-bottom: 10px;
}
form#new-form span{
  text-align: center;
  color: #ff0000;
  font-size: 15px;
}
form#new-form input[type=text]{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 0 20px;
}
form#new-form textarea{
  height: 80px;
  border-radius: 5px;
  border: 0 20px;
  padding: 0 20px;
  padding-top: 10px;
}

form#new-form button{
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  background: #272727;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}